<div class="navigation">
  <span class="nav-text">What are you looking for?</span>
  <div class="nav-btns">
    <div class="hotel btn">
      <a href="#">
        <div class="image"><img src="../../assets/images/1.png" alt="." /></div>
      </a>
      <span class="btn-name">Hotel</span>
    </div>
    <div class="flight btn">
      <a href="#">
        <div class="image">
          <img src="../../assets/images/ticket-flight.png" alt="," />
        </div>
      </a>
      <span class="btn-name">Flight</span>
    </div>
    <div class="trips btn">
      <a href="#">
        <div class="image">
          <img src="../../assets/images/travel-luggage.png" alt="ффф" />
        </div>
      </a>
      <span class="btn-name">Trips</span>
    </div>
    <div class="car-hire btn">
      <a href="#">
        <div class="image">
          <img src="../../assets/images/car-parking.png" alt="," />
        </div>
      </a>
      <span class="btn-name">Car Hire</span>
    </div>
  </div>
</div>
