<app-header></app-header>

<div class="left-content">
  <img class="home-img" src="../../assets/images/homeImage.jpeg" alt="image" />
  <span class="img-text"
    >Hey, <br />
    Where you off next?</span
  >
</div>
<div class="right-content">
  <app-nav></app-nav> 
  <div class="find-example">
    <div class="find-img">
    <img src="../../assets/images/find.png" alt="" /></div>
    <div class="find-text">
      <span class="find-text-black">Dubai, Creek &</span> <br>
      <span class="find-text-gray">Al Seef District.</span>
    </div>
    
  </div>
  <div class="btn">
    <a class="start-btn" href="#">Get Started!</a>
    </div>
</div>
